@model List<StackOverflowClone.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 class="font-black26 mt-3">Tags</h1>
<p class="font-black15 mt-5">A tag is a keyword or label that categorizes your question with other, similar questions. Using <br> the right tags makes it easier for others to find and answer your question.</p>
<div class="row pt-4 d-flex justify-content-between">
    <div class="col-3">
        <form class="d-flex content-filter-form" role="search">
            <div class="content-search-input-wrap">
                <input class="form-control ps-5 content-search-input" type="search" maxlength="250" placeholder="Filter by tag name" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" class="content-search-input-icon" height="18" width="18" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg>
            </div>
        </form>
    </div>
    <div class="col-3 text-end">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-light font-black13 p-3 px-4 border border-secondary-subtle" for="btnradio1">Public</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-light font-black13 p-3 px-4 border border-secondary-subtle" for="btnradio2">Name</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-light font-black13 p-3 px-4 border border-secondary-subtle" for="btnradio3">New</label>
        </div>
    </div>
</div>

<div class="row pt-3">
    @foreach (var i in Model)
    {
        <div class="col-3 pb-4">
            <div class="content-tags-details">
                <a href="#" class="question-tags">@i.CategoryName</a>
                <p class="font-black13 mt-4 mb-3 content-tags-description">@i.CategoryDescription</p>
                @*<p class="font-tag12">@i.QuestionCount @Html.Raw(i.QuestionCount != 1 ? "questions" : "question")</p>*@
                @if (i.QuestionCount > 0)
                {
                    <p class="font-tag12">@i.QuestionCount questions</p>
                }
                @if (i.QuestionCount == 0)
                {
                    <p class="font-tag12">0 question</p>
                }
            </div>
        </div>
    }
</div>

<script>
    $("a[href='/home/tags']").parent().attr('id', 'active')
</script>